{% set NONCE = NONCE if NONCE is defined else (csp_nonce() if csp_nonce is defined else '') %}
{% set _team = team if team is defined and team else none %}
{% set TEAM_NAME = (_team.team_name if _team and _team.team_name else 'Connect ATX Elite') %}
{% set PAGE_URL = (request.url if request is defined else '') %}
{% set LOGO_URL = (url_for('static', filename='images/logo.avif', _external=True) if url_for is defined else '') %}

<script type="application/ld+json" nonce="{{ NONCE }}">
{
  "@context": "https://schema.org",
  "@type": "DonateAction",
  "name": "Support {{ TEAM_NAME }}",
  "description": "Sponsor or donate to {{ TEAM_NAME }} to fund tournaments, gear, and academic support.",
  "image": "{{ LOGO_URL }}",
  "target": {
    "@type": "EntryPoint",
    "urlTemplate": "{{ PAGE_URL }}",
    "actionPlatform": [
      "http://schema.org/DesktopWebPlatform",
      "http://schema.org/IOSPlatform",
      "http://schema.org/AndroidPlatform"
    ]
  },
  "result": {
    "@type": "Thing",
    "name": "Donation"
  },
  "recipient": {
    "@type": "SportsTeam",
    "name": "{{ TEAM_NAME }}",
    "sport": "Basketball"
  }
}
</script>
